<header class="header" itemscope itemtype="//schema.org/WPHeader">
  {% block header %}
    <div class="wrapper">
      <div class="title-area">
        <div class="logo">
          <a class="logo-link" href="/" rel="home">
            <img src="{{site.theme.link}}/dist/img/logo.svg" alt="{{site.name}} Logo" />
          </a>
        </div>
        <div class="description">
          <span>{{site.description}}</span>
        </div>
      </div>
      <nav class="nav-main" role="navigation" itemscope itemtype="//schema.org/SiteNavigationElement">
        {% include "partials/_menu.twig" with {'menu': menu.get_items} %}
      </nav>
    </div>
  {% endblock %}
</header>
