{% if menu %}
	<i class="fa fa-angle-down"></i>
	<ul class="menu-submenu">
	{% for item in menu %}
		<li class="{{item.classes | join(' ')}}">
			<a href="{{item.get_link}}" target="{{ item.is_external ? '_blank' : '_self' }}">{{item.title}}</a>
			{% include "partials/_submenu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
