<article class="tease tease-{{post.post_type}} tease-{{post.ID}}">
	{% block content %}
		<h2 class="tease__title">
			<a class="tease__link" href="{{post.link}}">
				{{post.title}}
			</a>
		</h2>
		<p class="tease__preview">{{post.get_preview}}</p>
		{% if post.get_thumbnail %}
			<img class="tease__image"src="{{post.thumbnail.src}}" />
		{% endif %}
	{% endblock %}
</article>
