{% extends "base.twig" %}

{% block content %}
	<section>
		<div class="wrap">
			<h1>There's nothing here.</h1>
			<p>The page may have been moved somewhere else or removed altogether.</p>
			<a href="/" class="btn-std">Home</a>
		</div>
	</section>
{% endblock %}
