{% block html_head_container %}

{% include 'partials/_html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} {{post.slug}}" itemscope itemtype="//schema.org/WebPage">
		{% include 'partials/_detection.twig' %}
		{% include 'partials/_nav.twig' %}
		<main class="content" role="main">
			<div class="content-wrapper {{sidebar_class}}">
				{% block content %}
					No content found.
				{% endblock %}
			</div>
			{% if sidebar %}
			<aside class="sidebar">
				<div class="wrap">
					{{sidebar}}
				</div>
			</aside>
			{% endif %}
		</main>

		{% block footer %}
		{% include 'partials/_footer.twig' %}
		{{ function('wp_footer') }}
		{% endblock %}
		{% include 'partials/_html-footer.twig' %}
	</body>
</html>
