<header class="header" >
  {% block header %}
    <div class="wrapper">
      <div class="title-area">
        <div class="logo">
          <a class="logo-link" href="/" rel="home"><img src="{{site.theme.link}}/dist/img/lumber-logs.svg" alt="Lumber Icon"></a>
        </div>
        <div class="description">
          <span>{{site.description}}</span>
        </div>
      </div>
      <nav id="nav-main" class="nav-main" role="navigation">
        {% include "menu.twig" with {'menu': menu.get_items} %}
      </nav><!-- #nav -->
    </div>
  {% endblock %}
</header>
