{% extends "base.twig" %}

{% block content %}
	<section>
		<div class="wrap">
			<h1>{{post.title}}</h1>
			<p>{{'[contact-form-7 id="34" title="Contact form 1"]'|shortcodes}}</p>
		</div>
	</section>
{% endblock %}
