{% extends "base.twig" %}

{% block content %}
	<div class="full-screen fixed-width">
		<article class="post-type-{{post.post_type}} wrap" id="post-{{post.ID}}">
			<div class="article-meta">
				<h1 class="article-h1">{{post.title}}</h1>
				<p class="article-author">
					<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
				</p>
			</div>
			{% if post.thumbnail.src %}
				<img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}" class="article-img"/>
			{% endif %}
			<div class="article-body">
				{{post.content}}
			</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
