{% extends "tease.twig" %}

{% block content %}
	{% if post.thumbnail.src %}
	<div class="tease-img-container">
		<a href="{{post.link}}">
			<img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}" class="tease-img"/>
		</a>
	</div>
	{% endif %}
	<div class="tease-content-container">
		<h2 class="tease-title"><a href="{{post.link}}">{{post.title}}</a></h2>
		<p class="tease-excerpt">{{post.get_preview(40)}}</p>
	</div>
{% endblock %}
