.blog,
.archive {

  .posts {

    .tease-post {
      padding-bottom: 4rem;
      lost-utility: clearfix;

      & > div{
        lost-column: 1/2;

        &:only-child {
          lost-column: 1;
        }
      }
    }
  }

  .pagination {
    text-align: center;
    font-size: 2rem;

    .next,
    .prev,
    li {
      display: inline-block;
      padding: 1rem 0.5rem;
    }

    ul {
      display: inline-block;
    }
  }
}
