a[class*="btn-"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 1.4rem;
  font-family: $font-body;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
	display: inline-block;
	line-height: 1.1;
  margin-top: 2.5rem;
  transition: 0.3s ease;
	border: 0;
  background: $accent-primary;
  color: #fff;
	cursor: pointer;
}

a[class*="btn-"]:hover,
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"] {
	background-color: $accent-secondary;
  border-color: $accent-secondary;
  color: $light-primary;
}

a.btn-alt {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  border: 0.2rem solid $accent-primary;
  color: $accent-primary;
}

button:disabled,
button:disabled:hover,
input:disabled,
input:disabled:hover,
input[type="button"]:disabled,
input[type="button"]:disabled:hover,
input[type="reset"]:disabled,
input[type="reset"]:disabled:hover,
input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
	background-color: $grey-primary;
	color: $accent-primary;
	border: 0.1rem solid $grey-primary;
	cursor: not-allowed;
}


@media (--medium) {
	a[class*="btn-"] {
		font-size: 1.7rem;
	}

	a.btn-std,
	a.btn-alt {
	  margin-top: 3.5rem;
	}
}
