input,
select,
textarea {
	border: 0;
	background-color: $grey-secondary;
	color: $grey-primary;
	padding: 1.6rem;
	width: 100%;
	border-radius: 0;
}

textarea {
	min-height: 20rem;
}

input:focus,
textarea:focus {
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::placeholder {
	color: $grey-tertiary;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}
