/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	transition: 0s;
}

/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	display: flex;
	height: 100vh;
	flex-direction: column;
	background-color: $light-primary;
	color: $dark-primary;
  font-family: $font-body;
	font-size: 1.8rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body.dated {
	display: block;
	height: 100%;
}

div:focus,
div:active,
section:active,
section:focus {
	outline: 0;
	-webkit-appearance: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}


a,
a:active,
a:visited,
-webkit-link {
	color: $link-primary;
  text-decoration: none;
}

a:hover,
a:focus {
	color: $link-secondary;
	text-decoration: none;
}

p {
	line-height: 1.4;
	margin: 0;
  letter-spacing: 0.02rem;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

main {
	section {
		ul {
			li {
		  list-style-type: disc;
		  margin-left: 2rem;
			page-break-inside: avoid;
			break-inside: avoid;
			}
		}
		ol {
			li {
			  list-style-type: decimal;
			  margin-left: 2rem;
			}
		}
	}
}

li {
	list-style-type: none;
}

hr {
	clear: both;
	margin: 1em 0;
	margin-bottom: 3.25rem;
	border-collapse: collapse;
	max-width: 27%;
	border-color: #000;
	border-width: 0;
	border-bottom-width: 3px;
}

b,
strong {
	font-weight: 500;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

/* ## Headings
--------------------------------------------- */

h1,
.xlarge,
h2,
.large,
h3,
.medium,
h4,
.small,
h5,
.xsmall,
h6,
.xxsmall {
	font-weight: 900;
	margin-top: 0;
	font-family: $font-heading;
	font-style: italic;
	line-height: 1;
}

h1,
.xlarge {
	font-size: 4.2rem;
	margin-bottom: 3.5rem;
}

h2,
.large {
	font-size: 3.0rem;
	margin-bottom: 1.3rem;
}

h3,
.medium {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

h4,
.small {
	font-size: 2rem;
	margin-bottom: 2.75rem;
}

h5,
.xsmall {
	font-size: 1.8rem;
}

h6,
.xxsmall {
	font-size: 1.6rem;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	border-radius: 3px;
}

figure {
	margin: 0;
}

/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-word;
}

td,
th {
	text-align: left;
}

td {
	padding: 0;
	line-height: 1.8;
}

th {
	padding: 0.6rem;
}


/* # DRY
------------------------------------------------------------------------------------------------------------------------------*/

main {
	position: relative;
	flex: 1;
	& > .content-wrapper {
		& > section {
			background: #fff;
	    background-size: cover;
	    background-position: center;
			& > .wrap {
				padding: 6rem 2rem;
			}
		}
	}
	#sidebar {
		& > .wrap {
			padding: 10rem 8rem;
		}
	}
}

@media (--small) {
	main {
		& > .content-wrapper {
			& > section {
				& > .wrap {
					lost-center: 768px;
					padding: 8rem 2rem;
				}
			}
		}
	}
}

@media (--medium) {
	main {
		& > .content-wrapper {
			& > section {
				& > .wrap {
					lost-center: 768px;
					padding: 10rem 2rem;
				}
			}
		}
	}
}


@media (--large) {
	body {
		font-size: 1.75rem;
	}
}
