/* Fonts */
$font-heading: 'Lora', Helvetica, sans-serif;
$font-body: Helvetica, Arial, sans-serif;

/* Width Variables */
$width-xsmall: 414px;
$width-small: 540px;
$width-medium: 768px;
$width-medium-large: 1024px;
$width-large: 1400px;
$width-xlarge: 1800px;


/* Media Queries */
@custom-media --xsmall (min-width: 414px);
@custom-media --small (min-width: 540px);
@custom-media --medium (min-width: 768px);
@custom-media --medium-large (min-width: 1024px);
@custom-media --large (min-width: 1400px);
@custom-media --xlarge (min-width: 1800px);

/* Media Queries */
/*
@custom-media --xsmall (min-width: $width-xsmall);
@custom-media --small (min-width: $width-small);
@custom-media --medium (min-width: $width-medium);
@custom-media --medium-large (min-width: $width-medium-large);
@custom-media --large (min-width: $width-large);
@custom-media --xlarge (min-width: $width-xlarge);
*/

/* Colors */
$main-primary: #000;
$main-secondary: #ccc;

$accent-primary: #ffa500;
$accent-secondary: #ff005a;

$grey-primary: #eee;
$grey-secondary: #eee;

$light-primary: #fff;
$dark-primary: #000;

$menu-primary: $main-primary;
$menu-secondary: $main-primary;

$link-primary: $accent-primary;
$link-secondary: $accent-secondary;
