.header {
  position: relative;
  width: 100vw;
  padding: 1rem 2rem;
  z-index: 1;
  color: $menu-primary;

  .wrapper {
    display: flex;
    align-items: center;
  }

  .title-area {
    width: auto;
    text-align: center;
    .logo {
      font-family: $font-heading;
      text-align: center;
      .logo-link {
        img {
          height: 4rem;
        }
      }
    }

    .description {
      font-family: $font-heading;
      font-weight: bold;
      font-style: italic;
    }
  }


  .nav-main {
    margin-left: auto;
    ul {
      background: $light-primary;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 2rem 2rem 3rem;
      display: none;
      border-bottom: 0.1rem solid $grey-primary;
      li {
        text-align: center;
        list-style-type: none;
        color: $accent-primary;
        a {
          display: inline-block;
          width: 20rem;
          padding: 1rem;
          border-bottom: 0.1rem solid $grey-primary;
        }
      }
    }
  }
}

@media (--medium) {
  .header {
    .nav-main {
      margin-left: auto;
      .menu-toggle {
        display: none !important;
      }
      ul {
        &.main-menu {
          display: inline-block !important;
        }
        &[class*="menu"] {
          position: relative;
          background: rgba(0,0,0,0);
          padding: 0;
          display: inline-block !important;
          border: none;
          li {
            display: inline-block;
            &.menu-item-has-children {
              position: relative;
              &:hover {
                & > ul.menu-submenu {
                  opacity: 1;
                  display: inline-block;
                }
              }
            }
            a {
              border: none;
              padding: 3rem 1rem;
              width: auto;
            }
          }
        }
        &.menu-submenu {
          opacity: 0;
          display: none;
          position: absolute;
          background: $light-primary;
          width: 20rem;
          li {
            width: 100%;
            a {
              text-align: center;
              width: 100%;
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}
